#nav-filter-bar
{
    color: #fff;
}

#nav-filter-bar ion-buttons
{
    margin-left: 2em !important;
}

#filter-form
{
    --background: #efefef;
    background-color: #efefef;
}

.filter-form-item
{
    max-height: 1em;
}