<dx-data-grid class="dx-theme-border-color"
    [dataSource]="gridDataSource"
    keyExpr="CarNo"
    [showColumnLines]="false"
    [showRowLines]="false"
    [(selectedRowKeys)]="selectedRows"
    (onRowSelecting)="logEvent('RowSelected')"
>
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column dataField="CarNo" dataType="number" width="auto"></dxi-column>
    <dxi-column dataField="UserNo" dataType="string" width="auto"></dxi-column>
    <dxi-column dataField="ArName" dataType="string" width="auto"></dxi-column>
    <dxi-column dataField="EnName" dataType="string" width="auto"></dxi-column>
    <dxi-column dataField="CardNo" dataType="string" width="auto" ></dxi-column>
    <dxi-column dataField="Begindate" dataType="string" width="auto"></dxi-column>
    <dxi-column dataField="Enddate" dataType="string" width="auto"></dxi-column>
    <dxi-column dataField="Color" dataType="string" width="auto"></dxi-column>
    <dxi-column dataField="Model" dataType="string" width="auto"></dxi-column>

    <dxo-paging 
        [pageSize]="page_limit"
        [pageIndex]="page_no"
        
        (onOptionChanged)="checkPageSize($event)"
        > 
        
    </dxo-paging>

    <dxo-editing
        mode="row"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [allowAdding]="false"
        mode="popup"
    >
    </dxo-editing>

    <dxi-column type="buttons">
        <dxi-button name="edit" [onClick]="editRow"></dxi-button>
        <dxi-button name="delete" [onClick]="deleteRow"></dxi-button>
    </dxi-column>
    

</dx-data-grid>

<dx-popup 
    *ngIf="visible"
    [title]="'Edit'"
    [hideOnOutsideClick]="true"
    height="auto"
    [visible]="visible"
    onHiding="hidePopup"
>
    <dxi-toolbar-item 
        widget="dxButton"
        location="after"
        toolbar="bottom"
        [options]="{ 
            text: 'Confirm', 
            type: 'success',
            onClick: confirmChanges 
        }"
    > </dxi-toolbar-item>
    <dxi-toolbar-item 
        widget="dxButton"
        location="after"
        toolbar="bottom"
        [options]="{ 
            text: 'Cancel',
            onClick: hidePopup 
        }"
    > </dxi-toolbar-item>
            
    <div *dxTemplate="let data of 'content'">
        <dx-form
            [formData]="formData"
        >
        <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="1"></dxo-col-count-by-screen>
        <dxi-item class="filter-form-item"  itemType="group" [colSpan]="fieldGroupOneColumnSpan">
          <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>
          <!-- <dxi-item class="filter-form-item"  itemType="group"> -->
            <dxi-item class="filter-form-item" dataField="CarNo" [editorOptions]="{ readOnly: true}">
              <dxo-label text="Car No"></dxo-label>
            </dxi-item>

            <dxi-item class="filter-form-item" dataField="UserNo" [isRequired]="true">
              <dxo-label text="User No"></dxo-label>
            </dxi-item>

            <dxi-item class="filter-form-item" dataField="ArName" [isRequired]="true">
              <dxo-label text="Arabic Name"></dxo-label>
            </dxi-item>

            <dxi-item class="filter-form-item" dataField="EnName" [isRequired]="true">
              <dxo-label text="English Name"></dxo-label>
            </dxi-item>

            <dxi-item class="filter-form-item" dataField="CardNo" [isRequired]="true">
              <dxo-label text="Card No"></dxo-label>
            </dxi-item>

            <dxi-item class="filter-form-item" dataField="Begindate" editorType="dxDateBox" [isRequired]="true"></dxi-item>
            <dxi-item class="filter-form-item" dataField="Enddate" editorType="dxDateBox" [isRequired]="true"></dxi-item>
            
            <dxi-item class="filter-form-item" dataField="Company" [isRequired]="true">
              <dxo-label text="Company"></dxo-label>
            </dxi-item>

            <dxi-item dataField="Color" editorType="dxSelectBox" [editorOptions]="{ dataSource: colors, valueExpr: 'dataID',  
              displayExpr: 'eName' , stylingMode: 'filled', width: '100%', placeholder: ''}" [isRequired]="true">
              <dxo-label text="Color"></dxo-label>
            </dxi-item>
          
            <dxi-item class="filter-form-item" dataField="Model" [isRequired]="true">
              <dxo-label text="Model"></dxo-label>
            </dxi-item>

            
            <!-- </dxi-item> -->

            </dxi-item>
            <!-- <dxi-item itemType="group" [colCount]="2" >
                <dxi-item dataField="FirstName" >
                    <dxi-validation-rule
                        type="required"
                        message="First Name is required."
                    ></dxi-validation-rule>
                    <dxo-label template="name"></dxo-label>
                </dxi-item>
                <dxi-item
                    dataField="Position"
                    editorType="dxSelectBox"
                >
                    <dxo-label template="position"></dxo-label>
                </dxi-item>
                <dxi-item dataField="LastName" >
                    <dxi-validation-rule
                        type="required"
                        message="Last Name is required."
                    ></dxi-validation-rule>
                    <dxo-label template="name"></dxo-label>
                </dxi-item>
                <dxi-item dataField="Address">
                    <dxo-label template="address"></dxo-label>
                </dxi-item>
                <dxi-item
                    dataField="BirthDate"
                    editorType="dxDateBox"
                >
                    <dxi-validation-rule
                        type="required"
                        message="Birth Date is required."
                        invalidDateMessage="The date must have the following format: mm/dd/yyyy" 
                    ></dxi-validation-rule>
                    <dxo-label template="date"></dxo-label>
                </dxi-item>
                <dxi-item
                    dataField="HireDate"
                    editorType="dxDateBox"
                >
                    <dxo-label template="date"></dxo-label>
                </dxi-item>
                <dxi-item
                    dataField="Notes"
                    editorType="dxTextArea"
                    [editorOptions]="notesEditorOptions"
                    [colSpan]="2"
                >
                    <dxo-label template="notes"></dxo-label>
                </dxi-item>
                <dxi-item dataField="Phone" [editorOptions]="phoneEditorOptions">
                    <dxi-validation-rule
                        type="required"
                        message="Phone number is required."
                    ></dxi-validation-rule>
                    <dxo-label template="phone"></dxo-label>
                </dxi-item>
                <dxi-item dataField="Email">
                    <dxi-validation-rule
                        type="email"
                        message="Email is incorrect."
                    ></dxi-validation-rule>
                    <dxo-label template="email"></dxo-label>
                </dxi-item>
            </dxi-item> -->
      
      
        </dx-form>
    </div>
</dx-popup>

<dx-toast
[(visible)]="saving"
[type]="type"
[message]="message"
>  

</dx-toast>